@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:focus, *:active {
    outline: none !important; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f7f7f1;
  overflow-x: hidden; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%;
      overflow-y: visible !important; } }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    html {
      font-size: 40%; } }

body {
  font-family: "archiaregular", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased; }

a:link,
a:visited {
  color: #0d65f1; }

a:focus,
a:active {
  outline: none; }

::-moz-selection {
  background-color: #e78200;
  color: #f7f7f1; }

::selection {
  background-color: #e78200;
  color: #f7f7f1; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e78200; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(247, 247, 241, 0.9);
  animation: moveInTop 1s ease .5s;
  animation-fill-mode: backwards; }
  .navigation-logo {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 400px;
    object-fit: cover; }
    .navigation-logo_image {
      transform: scale(0.5); }
    .navigation-logo_text {
      transform: scale(1);
      margin-left: -5rem; }
  .navigation-links {
    display: flex; }
    .navigation-links > *, .navigation-links > *:link, .navigation-links > *:visited {
      text-decoration: none;
      color: #131312;
      font-family: "Ubuntu";
      margin-left: 3rem;
      font-size: 2.4rem; }
      .navigation-links > *::after, .navigation-links > *:link::after, .navigation-links > *:visited::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #131312;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 500ms ease;
        top: 2px; }
      .navigation-links > *:hover::after, .navigation-links > *:link:hover::after, .navigation-links > *:visited:hover::after {
        transform: scaleX(1); }
      .navigation-links > *:hover, .navigation-links > *:link:hover, .navigation-links > *:visited:hover {
        cursor: pointer; }

.home {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  margin-top: 22rem; }
  .home-main {
    display: flex;
    justify-content: space-around;
    height: 70vh; }
  .home-divisor {
    opacity: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: polygon(40% 0%, 88% 0%, 52.5% 100%, 2.5% 100%); }
    .home-divisor::before, .home-divisor::after {
      clear: both;
      display: none; }
  .home-cta {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    padding-left: 1rem;
    width: 35%; }
    .home-cta_text {
      width: 90%;
      color: #131312;
      animation: moveInBottom 1s ease 0.5s;
      animation-fill-mode: backwards; }
    .home-cta_button {
      margin: 5rem 0;
      background-color: #e78200;
      padding: 1rem 1.5rem;
      border-radius: 3px;
      font-size: 2.2rem;
      font-weight: 500;
      animation: moveInBottom 1s ease 0.75s;
      animation-fill-mode: backwards;
      transition: all .4s ease; }
      .home-cta_button, .home-cta_button:link, .home-cta_button:visited {
        text-decoration: none;
        color: #f7f7f1; }
      .home-cta_button:hover {
        background-color: #FFA42D;
        color: #fff;
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 0.5rem #131312; }
      .home-cta_button::before, .home-cta_button::after {
        clear: both;
        display: none; }
  .home-image1 {
    width: 55%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-position: center;
    object-fit: cover;
    animation: fadeIn 1s ease 0.75s;
    animation-fill-mode: backwards; }
  .home-image2 {
    width: 55%;
    height: 100%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
    background-position: left;
    object-fit: cover;
    animation: fadeIn 1s ease 0.75s;
    animation-fill-mode: backwards; }
  .home-skills {
    display: flex;
    justify-content: space-around;
    height: 45vh;
    width: 100%;
    margin-top: 15rem; }
    .home-skills-each {
      background-color: #d2d2d2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: 2.4rem;
      min-height: 50%;
      max-height: 50%s;
      width: 25%;
      margin: 5rem;
      padding: 5rem 1.5rem; }
      .home-skills-each_icon {
        color: #e78200; }
      .home-skills-each-text_title {
        text-align: center;
        margin: 3rem 0; }
      .home-skills-each-text_paragraph {
        text-align: center; }

.home-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }
  .home-contact-title {
    font-size: 3rem;
    margin-top: 10rem; }
  .home-contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #131312;
    margin: 2rem 0 0;
    width: 50%;
    text-align: center; }
    @media only screen and (max-width: 44em) {
      .home-contact-text {
        margin: 4rem 0 0;
        width: 80%; } }
    .home-contact-text__title {
      font-size: 4rem; }
    .home-contact-text__paragraph {
      font-size: 3rem;
      margin-top: 3rem; }
  .home-contact-links {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -10rem; }
    @media only screen and (max-width: 44em) {
      .home-contact-links {
        width: 55rem; } }
  .home-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12rem auto;
    font-size: 2.6rem; }
    @media only screen and (max-width: 44em) {
      .home-contact-form {
        flex-direction: column;
        margin: 15rem 0 0;
        padding-bottom: 15rem; } }
    .home-contact-form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 5rem; }
      .home-contact-form-group::after {
        content: "";
        position: relative;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #131312;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 0.3s ease;
        top: 0; }
      .home-contact-form-group:focus-within {
        border-color: transparent; }
        .home-contact-form-group:focus-within::after {
          transform: scaleX(1); }
        .home-contact-form-group:focus-within .home-contact-form-group__label {
          transform: translateY(-3.5rem); }
      .home-contact-form-group__input:not(:placeholder-shown) + .home-contact-form-group__label {
        transform: translateY(-3.5rem); }
      .home-contact-form-group__label {
        margin: 3rem 0 1rem;
        align-self: start;
        color: #131312;
        position: absolute;
        bottom: 0rem;
        font-size: 2rem;
        transition: transform 0.5s ease; }
        .home-contact-form-group__label:hover {
          cursor: text; }
      .home-contact-form-group__input {
        background-color: transparent;
        color: #131312;
        border: none;
        border-bottom: 2px dashed #666;
        padding: 0.5rem 0rem;
        font-size: 3rem; }
        .home-contact-form-group__input:hover {
          cursor: text; }
    .home-contact-form-button {
      background-color: #ddd;
      color: #111;
      font-size: 3rem;
      border: 1px solid #111;
      border-radius: 3px;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      margin-top: 3rem;
      align-self: center;
      transition: all 0.2s ease-out; }
      .home-contact-form-button:hover {
        background-color: #131312;
        color: #222;
        cursor: pointer; }
