.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    font-size: 2rem;
    background-color: darken(rgba($white, 0.9), 3);
    padding: 3rem 0;

    &-contact {
        & > *:not(:first-child) {
            margin-top: 1rem;
        }
    }
    

    & a {
        color: #349;

        &:hover {
            cursor: pointer;
        }
    }

    &-logo {
        @extend .navigation-logo;
        
    }

    &-links {
        display: flex;
        width: 10%;
        justify-content: space-evenly;

        & > * {
            font-size: 3.2rem;
            transition: all .2s ease-out;
        }

        &_facebook {
            color:#3b5998;

            &:hover {
                cursor: pointer;
                color: #2d4577;
            }
        }

        &_instagram {
            color: #e1306c;

            &:hover {
                cursor: pointer;
                color: #c13584;
            }
        }
    }
}