.navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba($white, 0.9);

    animation: moveInTop 1s ease .5s;
    animation-fill-mode: backwards;

    &-logo {
        
        display: flex;
        justify-content: center;
        height: 200px;
        width: 400px;
        object-fit: cover;

        &_image {
            transform: scale(.5);
            
        }

        &_text {
            transform: scale(1);
            margin-left: -5rem;
        }
    }

    &-links {

        display: flex;

        & > * {
            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: #131312;
                font-family: "Ubuntu";
                margin-left: 3rem;
                font-size: 2.4rem;

                @include animBorder(500ms);
            }
        }

    }
}